* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.banner {
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.awesome-thing {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media (max-width: 800px) {
    .awesome-thing {
      flex-direction: column;
    }

    .awesome-thing > .thing {
        margin-top: 20px;
    }
  }

.thing {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    flex: 25%;
}

.thing-image {
    width: 50px;
    height: 50px;
}


/* Blog slider */
.image-slider {
    /* display: grid; */
    width: 80vw;
    margin: auto;
    /* grid-template-columns: repeat(3,1fr);
    grid-gap: 10px; */
    padding-bottom: 20px;
}
.image-item {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
.image-item > a{
    text-decoration: none;
    font-size: 18px;
    color: #111111;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: 0.4s;
}
.image-item > a:hover{
    color: #ff871d;
}
.image {
  height: 500px;
  margin-bottom: 15px;
}
.image img {
  width: 100%;
  height: 100%;
  object-fit:cover;
  border-radius: 12px;
}
.image-title {
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  color: #83868c;
}
.image-hr {
  background-color: #fd7e14;
  padding: 1px;
  width: 30%;
  margin: 5px auto;
}
.image-description {
    font-size: 20px;
    color: #111111;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align:center;
    transition: all .3s ease;
}
.image-description__short {
    text-align: center;
}
.image-detail {
    font-size: 12px;
    font-weight: 400;
    color: #83868c;
    text-align: justify;
}
.slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: black;
    border: none;
    z-index: 10000;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height: 1;
    transition: all 0.2s linear;
    border-radius: 50%;
    opacity: 0.5;
}
.slick-arrow:hover {
    background-color: #fd7e14;
    color: #fff;
}
.slick-prev {
    left: 0;
}
.slick-next {
    right: 0;
}
.slick-dots {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex !important;
    gap: 0 20px;
    list-style: none;
}
.slick-dots button {
    font-size: 0;
    padding: 6px;
    border: none;
    border-radius: 50%;
    outline: none;
}
.slick-dots .slick-active button {
    background-color: #777777;
    transition: all 0.2s linear;
}

.ourblog {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

.horizontalline {
    border: 2px solid #fd7e14;
    width: 120px;
    margin: 5px auto 30px auto;  
}

.image-grid__item {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 360px;
    align-items: stretch;
    justify-content: center;
    position: relative;
    height: 500px;
    margin-right: 14px;
    margin-bottom: 14px;
    transition: transform 0.14s ease-in, text-shadow 0.1s ease-in;
}
.image-grid__item:before {
    content: "";
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: none;
    /* border-radius: 3px; */
    box-shadow: 0 10px 24px 0px rgba(0, 0, 0, 0.06), 0 8px 20px -2px rgba(0, 0, 0, 0.1), 0 6px 10px -6px rgba(0, 0, 0, 0.2);
    transition: visibility 0.1s ease-out, opacity 0.1s ease-out;
    opacity: 0;
}
.image-grid__item:hover:before {
    visibility: visible;
    opacity: 1;
}

.grid-item {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    align-items: stretch;
    justify-content: center;
    text-decoration: none;
    color: #eeeeee;
    overflow: hidden;
}
.grid-item:hover .grid-item__image {
    transform: scale(1.2);
}
.grid-item:hover .grid-item__hover {
    visibility: visible;
    opacity: 1;
}
.grid-item:hover .grid-item__name {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
}

.grid-item__image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center center;
    transform: scale(1);
    will-change: transform;
    transition: transform 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    z-index: 0;
    border-radius: 10px;
}

.grid-item__hover {
    visibility: hidden;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(rgba(47, 48, 50, 0.2), rgba(47, 48, 50, 0.7));
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    transition: visibility 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    opacity: 0;
}

.grid-item__name {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    align-items: center;
    font-size: 2rem;
    font-weight: 300;
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4), 2px 2px 6px rgba(0, 0, 0, 0.3);
    justify-content: center;
    letter-spacing: 1px;
    transform: scale(0.6);
    transform-origin: center center;
    transition: visibility 0.14s ease-out, opacity 0.14s ease-out, transform 0.24s ease;
    opacity: 0;
}

.grid-item:hover {
    color: #fd7e14;
}
/* Product Card */
.product-name{
    font-size: 18px;
    color: #111111;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: 0.4s;
}

.product-name:hover{
    color: #ff871d;
}

.product-price{
    font-size: 18px;
    font-weight: 700;
    color: #ff871d;
}

.product-card{
    width: 19rem;
    border-radius: 12px;
    transition: 0.4s;
}

.product-card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.item .box {
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 280px;
    position: relative;
    overflow: hidden;
}

.item .cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.15s ease-in;
    opacity: 0;
    padding-top: 210px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    transition: 0.4s;
}

.item:hover .cover {
    opacity: 1
}

.circular-btn {
    background-color: white; 
    border: none;
    border-radius: 50%; 
    padding: 10px 14px; 
    cursor: pointer;
    transition: 0.4s;
}

.circular-btn:hover {
    background-color: #ff871d;
    color: white;
}
/****************************/
/*-------------ProductDetail---------------*/
.product-detail{
    margin: 30px 55px;
}

.backtohome{
    text-decoration: none;
    color: black;
}

.backtohome:hover{
    color: #ff871d;
}

.breadcrumb {
    --bs-breadcrumb-divider: '>';
}

.breadcrumb .breadcrumb-item{
    color: #ff871d;
    font-weight: 500;
}

.feedback .title {
    font-size: 24px;
    font-weight: 500;
    line-height: 2;
    color: #111111;
    letter-spacing: 1px;
    position: relative;
    text-align: center;
}

.feedback .title::before {
    content: "";
    width: 6%;
    height: 2px;
    background: #ff871d;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

/*----------------End----------------------*/
/*----------------Description----------------------*/
.detail {
    margin: auto 30px;
}

.detail .title {
    font-size: 30px;
    font-weight: 500;
    color: #ff871d;
}

.detail .extra-info {
    color: #767676;
}

.divider {
    width: 100%;
    background-color: #e7e7e6;
    padding: 0.5px;
}

.detail .description {
    text-align: justify;
}

.btn-choose {
    background-color: #ff871d;
    color: white;
}

.btn-choose:hover {
    background-color: #e96d00;
    color: white;
}
/*----------------End----------------------*/
#myCarousel .carousel-inner img {
    width: 100%
}

#myCarousel .carousel-item img {
    width: 530px !important;
    height: 530px !important
}

#myCarousel .carousel-indicators {
    position: static;
    margin-top: 0px
}

#myCarousel .carousel-indicators>li {
    width: 100px
}

#myCarousel .carousel-indicators li img {
    display: block;
    opacity: 0.5;
    height: 100px;
    width: 100px;
}

#myCarousel .carousel-indicators li.active img {
    opacity: 1
}

#myCarousel .carousel-indicators li:hover img {
    opacity: 0.75
}

.input-spinner {
    display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}
.input-spinner > button{
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 0.25rem;
    padding: .375rem .75rem;
	outline: none;
	border: none;
	background: #ff871d;
    color: white;
	cursor: pointer;
}
.input-spinner > button:active{
    background: #e96d00;
    color: white;
}
.input-spinner > input{
	outline: none;
	border-top: 1px solid #e96d00;
    border-bottom: 1px solid #e96d00;
    border-left: none;
    border-right: none;
	width: 100px;
    padding: .4rem .75rem;
	text-align: center;
	font-size: 1rem;
	color: #e96d00;
    background: white;
}

.quantity .num {
    color:#767676;
}

#category .cate{
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 0.25rem;
    border: 1px solid #e96d00;
    padding: .375rem .75rem;
	outline: none;
	color: #ff871d;
    background: white;
	cursor: pointer;
    margin: 0 10px 10px 10px;
}
#category .cate:hover{
    background: #ff871d;
    color: white;
}

#category .clicked {
    background: #ff871d;
    color: white;
}

.rating {
    position: relative;
    width: 180px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3em;
    padding: 5px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 2px #b3acac;
}


.rating__star {
    font-size: 1.3em;
    cursor: pointer;
    color: #dabd18b2;
    transition: filter linear .3s;
}

.rating__star:hover {
    filter: drop-shadow(1px 1px 4px gold);
}

.all-star {
    position: relative;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    overflow: hidden;
}

.checked {
    color: #ff871d;
}
