.rootCartItem02 .cartItem800 {
    width: 100%;
    height: 100px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
}

.rootCartItem02 .cartItem800 .theaditem {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rootCartItem02 .cartItem800 .thead1 {
    padding: 0px 20px;
    justify-content: flex-start;
    width: 35%;
}

.rootCartItem02 .cartItem800 .thead1 img {
    height: 80px;
    width: 80px;
    margin-right: 20px;
}

.rootCartItem02 .cartItem800 .thead1 h6 {
    font-weight: 400;
}

.rootCartItem02 .cartItem800 .thead2 {
    color: #A8a8a8;
    font-size: 14px;
    width: 15%;
}

.rootCartItem02 .cartItem800 .thead3 {
    width: 25%;
}

.rootCartItem02 .cartItem800 .thead4 {
    color: #A8a8a8;
    font-size: 14px;
    width: 15%;
}

.rootCartItem02 .cartItem800 .thead5 {
    width: 10%;
}

.rootCartItem02 .cartItem800 .thead5 button {
    border: none;
    outline: none;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: transparent;
    color: #666;
    transition: all 0.4s;
}

.rootCartItem02 .cartItem800 .thead5 button:hover {
    color: red;
}

.rootCartItem02 .cartItem800 .thead3 .boxQTY {
    height: 50px;
    width: 90px;
    border: 1px solid #ddd;
    display: flex;
}

.rootCartItem02 .cartItem800 .thead3 .boxQTY .boxQTYitem {
    height: 100%;
    width: 50%;
    border: 1px solid #ddd;
    text-align: center;
    line-height: 46px;
    font-weight: 500;

    margin: 0px 1px;
}

.rootCartItem02 .cartItem800 .thead3 .boxQTY .boxQTYitem button {
    height: 24px;
    width: 100%;
    border: none;
    outline: none;
    padding: none;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid #ddd; */
    background-color: transparent;
    transition: all 0.4s;
}

.rootCartItem02 .cartItem800 .thead3 .boxQTY .boxQTYitem button:hover {
    color: #ff871d;
    border: 1px solid #ff871d;
}

.rootCart .cartItem400 {
    width: 100%;
    border: 1px solid #ddd;
    display: none;
    padding: 10px;
}

.rootCart .cartItem400 > div {
    width: 100%;
    display: flex;
}

.rootCart .cartItem400 > div .left {
    width: 50%;

}

.rootCart .cartItem400 > div .right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.rootCart .cartItem400 > div h6 {
    font-size: 14px;
    margin-bottom: 10px;
}

.rootCart .cartItem400 > div h5 {
    margin-bottom: 10px;
    font-size: 16px;
}

.rootCart .cartItem400 > div p {
    font-size: 12px;
    font-weight: 500;
    color: #A6a6a6;
    margin-bottom: 10px;
}


.rootCart .cartItem400 > div img {
    height: 100px;
    width: 100px;
}

.rootCart .cartItem400 > div .right .boxQTY {
    height: 50px;
    width: 90px;
    border: 1px solid #ddd;
    display: flex;
    margin-bottom: 10px;
}

.rootCart .cartItem400 > div .right .boxQTY .boxQTYitem {
    height: 100%;
    width: 50%;
    border: 1px solid #ddd;
    text-align: center;
    line-height: 46px;
    font-weight: 500;
    margin: 0px 1px;
}

.rootCart .cartItem400 > div .right .boxQTY .boxQTYitem button {
    height: 24px;
    width: 100%;
    border: none;
    outline: none;
    padding: none;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid #ddd; */
    background-color: transparent;
    transition: all 0.4s;
}

.rootCart .cartItem400 > div .right .boxQTY .boxQTYitem button:hover {
    color: #ff871d;
    border: 1px solid #ff871d;
}


.rootCart .cartItem400 > div .right .deleteBtn {
    border: none;
    outline: none;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: transparent;
    color: red;
    transition: all 0.4s;
}

.rootCart .cartItem400 > div .right .deleteBtn:hover {
    color: red;
}

.rootCart .cartItem400 > div span {
    font-size: 16px;
    color: #ff871d;
}

@media only screen and (max-width: 800px) {
    .rootCartItem02 .cartItem800 {
        display: none;
    }

    .rootCartItem02 .cartItem400 {
        display: block;
    }
}